@{
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>
<p>You do not have permission to view this page.</p>
<p>Please contact your administrator if you believe this is an error.</p>

<p>
    <a href="@Url.Action("Index", "Home")" class="btn btn-primary">Return to Home</a>
    <a href="@Url.Action("Index", "Roles")" class="btn btn-secondary">View Roles</a>
</p>

