@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayOut.cshtml";
}

<h1>ForgetPassword</h1>



<form asp-action="ForgetPassword" asp-controller="Account" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
</form>

<div class="mt-4">
    <p>Remembered your password? <a asp-action="Login" asp-controller="Account">Log in here</a>.</p>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}


