@model LoginViewModel
@{
    ViewData["Title"] = "SheckYourInbox";
    Layout = "~/Views/Shared/_AuthLayOut.cshtml";
}
<h2>Check Your Inbox</h2>

<p>We have sent you an email with instructions on how to reset your password. Please check your inbox.</p>

<p>If you do not see the email, please check your spam folder or try again.</p>

<p>Return to <a asp-action="Login" asp-controller="Account">Log in</a>.</p>
