@model EmployeeDto
@{
    var departments = new SelectList(ViewBag.Departments,nameof(Department.Id),nameof(Department.Name));
}


@{
    ViewData["Title"] = "Create";
}

<h2>Create Employee</h2>

<form asp-action="Create" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Age" class="control-label"></label>
        <input asp-for="Age" class="form-control" />
        <span asp-validation-for="Age" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneNumber" class="control-label"></label>
        <input asp-for="PhoneNumber" class="form-control" />
        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Image, "Upload Image")
        <input type="file" name="ImageFile" class="form-control" />
        @Html.ValidationMessageFor(model => model.Image)
    </div>

     <div class="form-group">
    <label asp-for="Department" class="control-label"></label>
        <select class="form-control" asp-items="@departments" asp-for="Id">
    <option value="@null">Select Department</option>
    </select>

    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>

    </div>
</form>
@section Scripts {
    @{
        
        <partial name="_ValidationScriptsPartial" />
    }
}



